/* remove style */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #70747a;
}

/* navbar */
.navbar-container {
    width: 100%;
    height: 80px;
    background-color: #232a31;
    padding: 0 2rem;
}

nav {
    position: relative;
}

.logo {
    width: 50px;
    margin-top: 15px;
}

.navbar-items {
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

.navbar-items li {
    display: inline-block;

    text-transform: uppercase;
    margin-left: 25px;

}

.navbar-items a {
    color: #fff;
    text-decoration: none;
    transition: 0.5s
}

.navbar-items a:hover {
    color: #ccc
}

.default-btn {
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 10px;

}

.navbar-items .default-btn:hover {
    background-color: #22bb5f;
    color: black;
}

/* main banner */
.main-banner {
    background-image: url("../hDC-hOST/img/mainbanner.png");
    background-size: cover;
    background-position: center;
    padding: 10rem;
}

.main-banner h1,
.main-banner p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
    font-size: 54px;
}

.main-banner p {
    font-size: 32px;
}

/* services */
.services-container {
    padding: 5rem 0;

}

.services-container ul {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li {
    flex: 1 1 200px;
    list-style: none;
    text-align: center;
    padding: 20px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.services-container h3 {
    margin-bottom: 25px;
}




.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}

.services-container p {
    line-height: 24px;
}

/* planos */

.pricing-container {
    padding-bottom: 5rem;
    text-align: center;
}

.pricing-container h2 {
    font-size: 36px;
}

.pricing-container p {
    font-size: 20px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto 0;
}

.plan {
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plan ul {
    padding: 0;
}

.plan li {

    background-color: #e8e9ea;
    list-style: none;
    height: 50px;
    line-height: 50px;
    color: #333;
}

.plan .price {
    width: 120px;
    height: 120px;
    line-height: 120px;
    background-color: #2cc76a;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    position: relative;
    margin: 0 auto -50px;
    font-size: 18px;

}

.plan .plan-name {
    background-color: #202B34;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 50px 0;

}

.plan .plan-btn {
    background-color: #2cc76a;
    color: #fff;
    font-size: 24px;
    height: 75px;
    line-height: 75px;
    cursor: pointer;
}

.plan .plan-btn:hover {
    color: #202B34;
}

.plan .recommended {
    background-color: #F45C57;
}

/* seach domain */
.searchdomain-container {
    background-color: #34454E;
    text-align: center;
    padding: 5rem 0;

}

.searchdomain-container h2 {
    color: #fff;
    font-size: 42px;
    margin-bottom: 15px;
}

.searchdomain-container p {
    color: #d5d5d5;
    font-size: 24px;
    margin-bottom: 25px;
}

.searchdomain-container input {
    display: block;
    border: none;
    margin: 0 auto;
    border-radius: 5px;
}


.searchdomain-container input[type='text'] {
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 25px;
}

.searchdomain-container input[type='submit'] {
    background-color: #22bb5f;
    font-size: 24px;
    padding: 15px 30px;
    cursor: pointer;
    opacity: 0.8;
    color: #FFF;
}

.searchdomain-container input[type='submit']:hover {
    opacity: 1;
}

/* contato */

.contact {
    text-align: center;
    padding: 5rem 0 2rem 0;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

.contact p {
    margin-bottom: 40px;
    font-size: 20px;
}

.contact input,
.contact textarea {
    width: 200px;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    margin: 10px 20px;
    border-radius: 5px;
}

.contact textarea {
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}

.contact input[type='submit'] {
    background-color: #2CC76A;
    display: block;
    margin: 0 auto;
    color: #FFF;
    cursor: pointer;
    opacity: 0.9;
}

.contact input[type='submit']:hover{
   
    opacity: 1;
}

/* footer */

footer {
    text-align: center;
    margin: 20px 0 100px;

}

/* 1100px */

@media (max-width: 1100px) {
    .plans-container {
        width: 95%;
    }

    .plan {
        margin: 0 5px;
    }
}

/*  900px*/

@media (max-width: 900px) {
    .searchdomain-container {
        padding: 2rem 4rem;
    }
}

/* 574px */

@media (max-width: 576px) {

    .main-banner {
        padding: 15rem 0;
    }

    .main-banner h1 {
        font-size: 40px;
    }

    .main-banner p {
        font-size: 14px;
    }

    .navbar-items li {
        font-size: 12px;
        margin-left: 10px;
    }

    .plan {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .services-container ul {
        flex-direction: column;
    }

    .plans-container {
        flex-direction: column;
        padding: 0 2rem;

    }

    .searchdomain-container input[type='text'] {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    .searchdomain-container input[type='submit'] {
        font-size: 15px;
        opacity: 1;
    }

    .contact input[type='email'] {
        margin-bottom: 1rem;
    }

    .searchdomain-container h2 {
        font-size: 25px;
    }

    .searchdomain-container p {
        font-size: 14px;
    }

    .contact h2 {
        font-size: 25px;
    }

    .contact p {
        font-size: 17px;
        width: 70%;
        margin: 0 auto;
    }

    .contact textarea {
        width: 300px;
    }

    .contact {
        padding: 3rem 2rem;
    }
}